{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля на LumiBox.{% endblocktranslate %}

{% trans "Перейдите по ссылке ниже, чтобы задать новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% trans "Ваше имя пользователя (на случай, если вы забыли):" %} {{ user.get_username }}

{% trans "Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо." %}

— LumiBox
{% endautoescape %}
